.email, .mobileNumber, .Telephone {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px; }

.email {
  background-color: green; }

.mobileNumber {
  background-color: orange; }

.Telephone {
  background-color: red; }
